*{
  margin: 0;
  padding: 0;
   font-family: 'poppins', sans-serif;
}
body{
  background: rgb(255, 214, 214);
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding:30px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(149, 150, 122);
 }
 .header a {
  text-decoration: none;
  text-transform: capitalize;
  color:rgb(41, 36, 29);
  margin-left: 30px;
 }